<div class="search-box">
<%= text_field_tag :search , "", placeholder: "search", class: "search"%>
</div>
  <%= render 'form' %>
  <div class="switch-field">
  <%= radio_button_tag 'active', 'active', true , data: { remote: true, url: url_for(action: :checkactive), method: :post } %>
  <label for="active_active">Active</label>
  <%= radio_button_tag 'active', 'inactive', false, data: { remote: true, url: url_for(action: :checkactive), method: :post } %>
  <label for="active_inactive">Inactive</label>
  </div>
  <div class="todolist">
    <%= render 'todolist' %>
  </div>





<script>
  checked_value1 = <%= @active_status == 0 || @active_status == 2%>;
  checked_value2 = <%= @active_status == 1 %>;
  $('#active_active').prop('checked',checked_value1)
  $('#active_inactive').prop('checked',checked_value2)

  $("#search").keyup(function() {
    $.ajax({
       url: '/todos/search',
       data: {search: $(this).val()}
    });
});

</script>
