<div class="search-box">
<%= text_field_tag :search , "", placeholder: "search",autofocus: true, class: "search"%>
</div>
  <%= render 'form' %>
  <div class="switch-field">
  <%= radio_button_tag 'active', 'active', true , data: { remote: true, method: :get } %>
  <label for="active_active">Active</label>
  <%= radio_button_tag 'active', 'inactive', false, data: { remote: true, method: :get } %>
  <label for="active_inactive">Inactive</label>
  </div>

  <div class="todolist">
    <% if !@list_todos.empty? %>


      <% @list_todos.each do |todo| %>
        <%= render 'todolist', todo: todo %>
      <% end %>
      <% else %>
    <div class="card posttodo">
    <div class="card-text">
    Nothing
    </div>
    </div>
    <% end %>
  <div class="apple_pagination"><%= will_paginate @list_todos,:page_links => false  %></div>
  </div>


<script>
  $("#search").keyup(function() {
    $.ajax({
       url: '/todos/search',
       data: {search: $(this).val()}
    });
});
function reset_arrow(){
  $('.up').removeClass("invisible");
  $('.down').removeClass("invisible");
  $('.up').first().addClass("invisible");
  $('.down').last().addClass("invisible");
}

$(function(){
  $('.pagination a').attr('data-remote', 'true')
});

reset_arrow();

</script>
