<div class="container">


  <%= text_field_tag :create , "", placeholder: "enter yor todo", class: "createtodo"%>
  <div class="switch-field">
  <%= radio_button_tag 'active', 'active', true , data: { remote: true, url: url_for(action: :checkactive), method: :post } %>
  <label for="active_active">Active</label>
  <%= radio_button_tag 'active', 'inactive', false, data: { remote: true, url: url_for(action: :checkactive), method: :post } %>
  <label for="active_inactive">Inactive</label>
  </div>
  <div class="todolist">
    <%= render 'todolist' %>
  </div>

</div>



<script>
  checked_value1 = <%= @active_status == 0 || @active_status == 2%>;
  checked_value2 = <%= @active_status == 1 %>;
  $('#active_active').prop('checked',checked_value1)
  $('#active_inactive').prop('checked',checked_value2)
  $('.up').first().addClass( "invisible" );
  $('.down').last().addClass( "invisible" );

  $(".create").keydown(function() {
    if event.which == 13{
      alert ("1");
    $.ajax({
       url: '/todos',
       data: {create: $(this).val()},
       type: 'POST'
    });
  }
});


</script>
