<div class="container">

  <%= render 'form' %>
  <div class="switch-field">
  <%= radio_button_tag 'active', 'active', @active_status == 0 || @active_status == 2 , data: { remote: true, url: url_for(action: :checkactive), method: :post } %>
  <label for="active_active">Active</label>
  <%= radio_button_tag 'active', 'inactive', @active_status == 1, data: { remote: true, url: url_for(action: :checkactive), method: :post } %>
  <label for="active_inactive">Inactive</label>
  </div>
  <% if !@list_todos.empty? %>
    <% @list_todos.each do |todo| %>

      <div class="posttodo">
        <div class="row">
          <div class="col-6 postbody"><%= link_to todo.body, todo %></div>
          <div class="col-2"></div>
          <div class="col-4 row postbuttons">
            <div class="col-2">
              <% unless @list_todos.first == todo %>
              <%= link_to '<i class="material-icons arrows">keyboard_arrow_up</i>'.html_safe,todos_change_position_path(id:todo.id, arrow:"up"), data: { remote: true, url: url_for(action: :change_position), method: :post }
              %>
              <% end %>
          </div>

            <div class="col-2">
              <% unless @list_todos.last == todo %>
              <%= link_to '<i class="material-icons arrows">keyboard_arrow_down</i>'.html_safe,todos_change_position_path(id:todo.id, arrow:"down"), data: { remote: true, url: url_for(action: :change_position), method: :post }
              %>
              <% end %>
            </div>

            <div class="col-3"><%= link_to '<i class="material-icons arrows">clear</i>'.html_safe, todo_path(todo), method: :delete, data: { confirm: 'Are you sure?' }, :remote => true, :class => 'delete_todo' %> </div>

            <div class="round col-2 arrows">
            <%= check_box_tag todo.id, todo.id, todo.active, data: { remote: true, url: url_for(action: :update, active:todo.active, id: todo.id), method: :patch } %>
            <label for="<%=todo.id%>"></label></div>
          </div>

        </div>
        <div class="row ">
          <div class="col timestamp"><%= todo.created_at.strftime('%l.%M %P, %-d %B %Y') %></div>
        </div>
      </div>
    <% end %>
  <% else %>
    <div class="posttodo">
      <div class="todobody">
        Nothing
      </div>
    </div>
  <% end %>
</div>
